# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Acceso Rapido\Escritorio\Sabare\Chrome#4181\Python\Learning Python\W3School\01_PythonTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
